<div class="bg-image"></div>
<div class="reset-password">
  <h1>Reset Password</h1>
  <h2>Please enter oyur email address!</h2>
  <form
    #resetPasswordForm="ngForm"
    (ngSubmit)="resetPasswordForm.form.valid && resetPassword()"
  >
    <div class="form-group">
      <label class="reset-password__label" for="email"
        >Your email address</label
      >
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="form.email"
        [disabled]="loading$ | async"
        name="email"
        required
        email
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-large"
      [disabled]="
        !resetPasswordForm.form.dirty || !resetPasswordForm.form.valid
      "
    >
      Reset Password
    </button>
  </form>
  <p class="reset-password__footer-text">
    Go back to
    <a href="auth/login">Login?</a>
  </p>
</div>
