<div
  class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <a class="navbar__logo my-0 mr-md-auto" href="/">
    <img
      class="navbar__logo-image"
      src="/assets/svg/logo.svg"
      alt="Bugtracker Logo"
    />
    <h5 class="navbar__logo-title">Bugtracker</h5>
  </a>
  <ng-container *ngIf="!(loading$ | async)">
    <ng-container
      *ngIf="user$ | async; then loggedIn; else loggedOut"
    ></ng-container>
    <ng-template #loggedIn>
      <nav
        class="navbar__navigation navbar__navigation-with-picture my-2 my-md-0 mr-md-3"
      >
        <div class="navbar__dropdown">
          <img
            class="navbar__profile-picture"
            [src]="
              (user$ | async).picture || '/assets/images/blank-profile.png'
            "
            alt="{{ (user$ | async).username }}"
          />
          <div class="navbar__dropdown-content">
            <span class="p-2 text-dark"
              >Hello, {{ (user$ | async).username }}</span
            >
            <hr />
            <ul class="navbar__dropdown-list">
              <li class="navbar__dropdown-list-item">
                <a class="p-2 text-dark" href="/tickets">Dashboard</a>
              </li>
              <li class="navbar__dropdown-list-item">
                <a class="p-2 text-dark" href="#" (click)="logout($event)"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <a class="navbar__login-link-mobile" href="/tickets"
        ><fa-icon [icon]="faSignInAlt"></fa-icon
      ></a>
    </ng-template>
    <ng-template #loggedOut>
      <nav class="navbar__navigation my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/auth">Login</a>
      </nav>
      <a class="navbar__register-btn btn btn-primary" href="/auth/register"
        >Start Now <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
      <a class="navbar__login-link-mobile" href="/auth"
        ><fa-icon [icon]="faSignInAlt"></fa-icon
      ></a>
    </ng-template>
  </ng-container>
</div>
