<app-navbar></app-navbar>

<div class="container stage">
  <div class="row">
    <div class="col-sm">
      <h1 class="stage__headline">Track bugs and tasks as easy as can be.</h1>
      <p class="stage__description">
        It's free! Just get things done without hazzle.
      </p>
      <a class="btn btn-primary stage__register-btn" href="/auth/register"
        >Get Started For Free <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </div>
    <div class="col-sm">
      <img
        class="stage__image"
        src="/assets/svg/index-stage.svg"
        alt="Bugtracker"
      />
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img
          class="stage__image"
          src="/assets/svg/logo-1.svg"
          alt="Bugtracker"
        />
      </div>
      <div class="col-md-3">
        <img
          class="stage__image"
          src="/assets/svg/logo-2.svg"
          alt="Bugtracker"
        />
      </div>
      <div class="col-md-3">
        <img
          class="stage__image"
          src="/assets/svg/logo-3.svg"
          alt="Bugtracker"
        />
      </div>
      <div class="col-md-3">
        <img
          class="stage__image"
          src="/assets/svg/logo-4.svg"
          alt="Bugtracker"
        />
      </div>
    </div>
  </div>
</div>

<div class="call-to-action">
  <h2 class="call-to-action__title is-center">
    Start Now With The Easiest Bugtracking Software Out There.
  </h2>
  <h3 class="call-to-action__subtitle is-center">
    Bugtracker Is Free Forever!
  </h3>
</div>

<app-footer></app-footer>
