@import '../../../../styles/globals/vars.scss';
@import '../../../../styles/globals/breakpoints.scss';

:host {
  display: block;

  .stage {
    margin: 6rem auto 2rem;

    @include breakpoint($sm) {
      margin: 0;
      padding: 0 2rem;
      text-align: center;
    }

    &__image {
      width: 90%;

      @include breakpoint($sm) {
        width: 60%;
        display: block;
        margin: 2rem auto;
      }
    }

    &__headline {
      margin-top: 4rem;
      font-size: $fs-h1;
      line-height: $lh-h1;
      text-align: left;

      @include breakpoint($sm) {
        text-align: center;
      }
    }

    &__description {
      margin-bottom: 2rem;
      font-size: $fs-h3;
      line-height: $lh-h3;
      color: $fs-color-secondary;
    }

    &__register-btn {
      padding: 10px 20px;
      font-size: 1.2rem;
      border-radius: 30px;
      border-color: #ff0476;
      background-color: #ff0476;
    }
  }

  .testimonials {
    padding: 40px;
    background-color: $middle-grey;
  }

  .call-to-action {
    padding: 110px;
    background: $bg-color-secondary;
    color: $white;

    &__title {
      font-size: $fs-h1;
      line-height: $lh-h1;
    }

    &__subtitle {
      margin-bottom: 0;
      font-size: $fs-h3;
      line-height: $lh-h3;
    }
  }
}
