<div class="bg-image"></div>
<div class="register">
  <div class="register__step" *ngIf="(step$ | async) == 0">
    <h1>Welcome!</h1>
    <h2>Start in two steps.</h2>
    <form
      #emailForm="ngForm"
      (ngSubmit)="emailForm.form.valid && continue()"
      autocomplete="off"
    >
      <div class="form-group">
        <label class="register__label" for="email">Your email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="form.email"
          [disabled]="loading$ | async"
          #email="ngModel"
          placeholder="name@example.com"
          name="email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          email
        />
        <span
          class="error-feedback"
          *ngIf="
            (email.touched || emailForm.submitted) && email.errors?.required
          "
        >
          Email address required.
        </span>
        <span class="error-feedback" *ngIf="email.errors?.pattern">
          Enter a valid email address
        </span>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-large"
        [disabled]="!emailForm.form.dirty || !emailForm.form.valid"
      >
        Continue
      </button>
    </form>
    <hr />
    <app-social-login></app-social-login>
    <a class="register__footer-link" href="auth/login"
      >Do you have an account? Go to login.</a
    >
  </div>
  <div class="register__step" *ngIf="(step$ | async) == 1">
    <h1>Complete your account information!</h1>
    <form
      #registerForm="ngForm"
      (ngSubmit)="registerForm.form.valid && register()"
      [matchPassword]="['password', 'confirmPassword']"
      autocomplete="off"
    >
      <div class="form-group">
        <label class="register__label" for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          [(ngModel)]="form.username"
          [disabled]="loading$ | async"
          #username="ngModel"
          name="username"
          required
        />
        <span
          class="error-feedback"
          *ngIf="
            (username.touched || registerForm.submitted) &&
            username.errors?.required
          "
        >
          Name is required
        </span>
      </div>
      <div class="form-group">
        <label class="register__label" for="password">Password</label>
        <input
          passwordPattern
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="form.password"
          [disabled]="loading$ | async"
          #password="ngModel"
          name="password"
          required
        />
        <span
          class="error-feedback"
          *ngIf="
            (password.touched || registerForm.submitted) &&
            password.errors?.required
          "
        >
          Password is required
        </span>
        <span
          class="error-feedback"
          *ngIf="password.touched && password.errors?.invalidPassword"
        >
          Password should have minimum 8 characters, at least 1 uppercase
          letter, 1 lowercase letter and 1 number
        </span>
      </div>
      <div class="form-group">
        <label class="register__label" for="confirmPassword"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          [(ngModel)]="form.confirmPassword"
          [disabled]="loading$ | async"
          #confirmPassword="ngModel"
          name="confirmPassword"
          required
        />
        <span
          class="error-feedback"
          *ngIf="
            (confirmPassword.touched || registerForm.submitted) &&
            confirmPassword.errors?.required
          "
        >
          Confirm Password is required
        </span>
        <span
          class="error-feedback"
          *ngIf="
            confirmPassword.touched && confirmPassword.errors?.passwordMismatch
          "
        >
          Passwords does not match
        </span>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-large"
        [disabled]="!registerForm.form.dirty || !registerForm.form.valid"
      >
        Register
      </button>
    </form>
  </div>
</div>
