@import '../../../../../styles/globals/vars.scss';
@import '../../../../../styles/globals/breakpoints.scss';

:host {
  display: block;

  .bg-image {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(3px);
    background-image: url('../../../../../assets/images/background_2.jpg');
  }

  .register {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: $bs-standard;
    border-radius: $br-normal;
    background-color: $white;

    @include breakpoint($sm) {
      width: 350px;
    }

    &__step {
      padding: 2rem 3rem;
    }

    &__label {
      font-size: $fs-text-middle;
    }

    &__footer-link {
      display: block;
      font-size: $fs-text-normal;
      text-align: center;
    }
  }
}
